.button {
  padding-top: 8px;
  padding-bottom: 8px;
  border: none;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}

/* BUTTON VARIANT */
.button-primary {
  background-color: #17bfc8;
}
.button-success {
  background-color: #18bc9c;
}
.button-warning {
  background-color: #f49d12;
}
.button-danger {
  background-color: #e84c3c;
}
.button-disabled {
  background-color: #17bfc8;
  opacity: 0.4;
}

/* BUTTON SIZE */
.button-size-sm {
  padding-left: 12px;
  padding-right: 12px;
}
.button-size-md {
  padding-left: 16px;
  padding-right: 16px;
}
.button-size-lg {
  padding-left: 24px;
  padding-right: 24px;
}

/* BUTTON ROUNDED */
.button-rounded-md {
  border-radius: 16px;
}
.button-rounded-sm {
  border-radius: 4px;
}
.button-rounded-none {
  border-radius: 0;
}
